---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
// const dias = ["lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo"];

// const azulMarca = "blue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <!-- <style define:vars={{ azulMarca }}>
      .dias {
        color: var(--azulMarca);
      }
    </style> -->
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <!-- <ul>
      {dias.map((dia) => <li class="dias">{dia}</li>)}
    </ul> -->
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
